body {
  background-color: #AD6A6C;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

h1 {
  color: #E8D6CB;
}

h2 {
  color: #5D2E46;
}

h1 {
  font-family: 'Major Mono Display', monospace;
}

/* a {
  font-family: 'Major Mono Display', monospace;
  font-size: 200%;
} */

.logo-home {
  width: 20%;
  height: auto;
}

.about {
  margin-bottom: 400px;
}

/* Other font */
/* font-family: 'Fredericka the Great', cursive; */
