body {
  background-color: #ad6a6c;
  text-align: center;
}

h2 {
  color: #5d2e46;
}

h1,
h3,
h4 {
  color: #e8d6cb;
  font-family: "Major Mono Display", monospace;
}

a {
  color: #5D2E46;
}

a:hover {
  color: #ad6a6c;
}

.logo-home {
  width: 20%;
  height: auto;
}

.about-link {
  margin-bottom: 300px;
}

.about-content {
  /* text-align: center; */
  padding-bottom: 9%;
  color: white;
}

.about-page {
  margin-bottom: 400px;
  margin-top: 7%;
  text-align: left;
}

footer {
  background-color: #D0ADA7
}

.footer-bottom {
  background-color: #5D2E46
}

/* .chevron {
  float: right;
} */



/* Other font */
/* font-family: 'Fredericka the Great', cursive; */
