body {
  background-color: #ad6a6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  color: #5d2e46;
}

h1,
h4 {
  color: #e8d6cb;
  font-family: "Major Mono Display", monospace;
}

.logo-home {
  width: 20%;
  height: auto;
}

.about-link {
  margin-bottom: 300px;
}

.about-content {
  text-align: center;
  padding-bottom: 9%;
}

.about-page {
  margin-bottom: 400px;
  margin-top: 5%;
  text-align: left;
}

footer {
  background-color: #D0ADA7
}

/* Other font */
/* font-family: 'Fredericka the Great', cursive; */
